@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

* {
    margin: 0;
    padding: 0;
    color: cornsilk;
}

body {
    background-image: url(../img/bgblackwood-vertical.jpg);
    background-size: 100%;
}

header {
    font-family: 'Lacquer';
    font-size: 28px;
}

h1 {
    color: red;
}

#name {
    float: left;
    padding-left: 30px;
    font-size: 60px;
    color: burlywood;
}

hr {
    border: solid burlywood 1.9px;
}

#logo {
    padding-top: 5px;
    width: 50px;
}

logowrite {
    font-size: 50px;
}

#name a {
    color: burlywood;
    text-decoration: none;
}

#name a:hover {
    color: burlywood;
    text-decoration: none;
}

#name a:visited {
    color: burlywood;
    text-decoration: none;
}

#menubar ul {
    font-size: 30px;
    padding-top: 27px;
    margin-right: 50px;
    list-style-type: none;
    float: right;
}

#menubar ul li {
    display: inline-block;
    margin: 7px;
}

#menubar ul li a {
    color: lightgrey;
    text-decoration: none;
    font-weight: bold;
    transition: 1.0s ease;
    padding: 5px;
}

#menubar ul li a:hover {
    color: burlywood;
}

.social {
    color: burlywood;
    float: right;
    margin-top: 30px;
}

.socialIcons {
    width: 32px;
}

.social ul li {
    display: inline-block;
}

.social ul {
    margin-right: 10px;
}

#informative {
    position: fixed;
    left: 85%;
    margin-top: 50px;
    width: 170px;
    min-height: 400px;
    border: 3px solid white;
    border-radius: 25px;
    color: burlywood;
}

#informative center h3 {
    padding-top: 10px;
}

#informative ul li {
    padding: 10px;
    list-style-type: none;
}

#informative ul li a {
    color: white;
    font-weight: bold;
}

#deneme {
    position: relative;
    left: 350px;
    top: 20px;
    width: 1150px;
}

#deneme ul {
    list-style-type: none;
    font-size: 24px;
}

#deneme ul li {
    padding: 50px 0px 0px 0px;
}

#deneme ol {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 0px 310px;
}

@media only screen and (max-width:1366px) and (min-width: 990px) {
    body {
        background-image: url(../img/bgblackwood-horizontal.jpg)
    }

    logowrite {
        font-size: 39px;
    }

    .socialIcons {
        width: 22px;
    }

    .social {
        color: burlywood;
        float: right;
        margin-top: 20px;
    }

    #menubar ul {
        font-size: 20px;
        padding-top: 19px;
        margin-right: 30px;
        list-style-type: none;
        float: right;
    }

    #deneme {
        position: relative;
        left: 50px;
        top: 20px;
        width: 1150px;
    }

    /*
    #deneme ol {
        font-size: 25px;
        font-weight: bold;
        margin: 0px 0px 0px 310px;
    }
*/
}
