button {
    display: none;
    background-color: rgb(59, 59, 59);
    border: none;
    color: white;
    position: fixed;
    top: 5px;
    right: 20px;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

#phone-menubar-btn.active {
    transform: translateX(-112px) translateY(-2px);
}

#phone-menubar {
    background-color: rgb(59, 59, 59);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#phone-menubar.active {
    transform: translateX(0);
}

#phone-menubar ul {
    z-index: 99;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#phone-menubar ul li {
    padding: 1rem 0;
}

#phone-menubar a {
    color: white;
    text-decoration: none;
}

@media (max-width: 61.9em) {
    
    button {
        top: 38px;
        right: 2px;
        display: block;
    }

}