*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image: url(../img/671694.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  border: 1px solid transparent;
  color: white;
  padding: 5px;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: white;
  color: black;
}
.logo img{
  margin-top: 20px;
  float: left;
  width: 150px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.maintitle{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.maintitle h1{
  color: darkseagreen;
  font-size: 70px;
}
.buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 1px solid transparent;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover{
  background-color: white;
  color: black;
}
